container_commands:
  01_migrate:
    command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cryptooracle.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    "DJANGO_RUNTIME_ENVIRONMENT": "production"

