files:
    /usr/local/bin/update_stocks.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
            source /etc/profile.d/sh.local
            source /var/app/venv/staging-LQM1lest/bin/activate
            cd /var/app/current
            python manage.py update_stocks

    /etc/cron.d/update_stocks_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            0 0 * * * root /usr/local/bin/update_stocks.sh

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true
