{% extends "predictor/base.html" %}
{% load static %}
{% block subtag %} Evaluate {% endblock %}

{% block charts %}
<div class="card text-left mb-5" >
    <div class="card-header">
        About Evaluations
    </div>
    <div class="card-body">
        <p class="card-text">The dataset for evaluation models was split into the usual training and test sets,
            and performance is evaluated on both sets. We also try a simple trading strategy: if the model
            predicts a price rise in the next period we long and if it predicts a decrease we short.
            Profits are recorded and plotted for this strategy and we also do a hypothesis test by comparing
            how many times the long/short signal matches the desired signal (from actual data). This hypothesis
            test tells us if we are doing any better than mere coin flipping.
        </p>
    </div>
</div>

<form>
    <div class="form-group">
        <div class="input-group">
            <select class="form-control" id="session_select">
                {% for ts in training_session_objs %}
                <option id="{{ts.id}}">{{ts.name}}: interval {{ ts.interval}}: {{ts.start_date|date:"Y-n-j"}} to {{ ts.end_date|date:"Y-n-j"}}: epochs {{ts.epochs}}:
                    win len {{ts.window_length}}: out size {{ts.output_size}}: neurons {{ ts.neurons }}: loss {{ts.loss}}: scaler {{ts.scaler}}
                </option>
                {% endfor %}
            </select>
        </div>
        <!--        <label for="exampleFormControlSelect1">Select training session</label>-->

    </div>

</form>


<!--top chart-->
<div class="row">
    <img class="ajax-loader mx-auto my-auto p-5 mt-5" src="{% static 'predictor/ajax-loader.gif' %}" />
    <div class="col-12">
        <div id="{{ids.0}}" class="chart"></div>
    </div>
</div>
<div class="row">
    <img  class="ajax-loader mx-auto my-auto p-5 mt-5" src="{% static 'predictor/ajax-loader.gif' %}" />
    <div class="col-12">
        <div id="{{ids.1}}" class="chart"></div>
    </div>
</div>
<div class="row">
    <img  class="ajax-loader mx-auto my-auto p-5 mt-5" src="{% static 'predictor/ajax-loader.gif' %}" />
    <div class="col-12">
        <div id="{{ids.2}}" class="chart"></div>
    </div>
</div>
<div class="row">
    <img  class="ajax-loader mx-auto my-auto p-5 mt-5" src="{% static 'predictor/ajax-loader.gif' %}" />
    <div class="col-12">
        <div id="{{ids.3}}" class="chart"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            $(".ajax-loader").show();
            $(".chart").hide()
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                // xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                xhr.setRequestHeader("X-CSRFToken", csrftoken);

            }
        }
    });

    $(document).on('change', '#session_select', function(){
        let training_session_id = $(this).children(":selected").attr("id");

        console.debug('got session id: ' + training_session_id)

        if (training_session_id == "") {
            console.error('Missing training session id.');
            return false;
        }
        $.ajax({
            url: "{% url 'predictor_evaluations' %}",
            type: "POST",
            data: {
                "training_session_id": training_session_id,
                //'csrfmiddlewaretoken':
            },
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            //contentType: "application/json",
            //contentType: "application/json;charset=utf-8",
            // headers: {'X-CSRFToken': getCookie('csrftoken')},
            dataType: "json",
            success: function(res_data) {
                //alert(data);
                //plots the figure with id
                //id must match the div id above in the html
                let figures = JSON.parse(res_data.figuresJSON);
                let ids = res_data.ids;
                $(".chart").show()

                for (let i in figures) {
                    console.log('Loop numb:' + i);
                    // console.debug(ids[i])
                    //$('#'+ids[i]).empty()
                    //console.debug($('#'+ids[i]))
                    Plotly.newPlot(ids[i], figures[i].data, figures[i].layout || {});
                    // Plotly.plot(ids[i],
                    //     figures[i].data,
                    //     figures[i].layout || {});
                }
                $(".ajax-loader").hide();
            },
            error: function(ts) {
                console.error(ts);
            }
        });
    });
</script>
{% endblock %}
