{% extends "predictor/base.html" %}
{% load static %}
{% block subtag %} Forecast {% endblock %}

{% block charts %}
<div class="card text-left mb-5" >
    <div class="card-header">
        About Forecasts
    </div>
    <div class="card-body">
        <p class="card-text">Forecast models were trained on all data available with the aim on making predictions
        beyond that period by using all recent data. This is in contrast to <a  href="{% url 'predictor_evaluations' %}">Evaluation models</a>
        that split the data into training and test sets to evaluate the model performance.
        </p>
    </div>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <input id="start_date" type="text" class="ui-datepicker form-control" placeholder="Start Date">
            <div class="input-group-prepend">
                <span class="input-group-text">-</span>
            </div>
            <input id="end_date" type="text" class="ui-datepicker form-control" placeholder="End Date">
            <div class="input-group-prepend">
                <span class="input-group-text">Model</span>
            </div>
            <select class="form-control" id="session_select">
                {% for ts in training_session_objs %}
                <option id="{{ts.id}}">{{ts.name}}: interval {{ ts.interval}}: {{ts.start_date|date:"Y-n-j"}} to {{ ts.end_date|date:"Y-n-j"}}: epochs {{ts.epochs}}:
                    win len {{ts.window_length}}: out size {{ts.output_size}}: neurons {{ ts.neurons }}: loss {{ts.loss}}: scaler {{ts.scaler}}
                </option>
                {% endfor %}
            </select>
        </div>
<!--        <label for="exampleFormControlSelect1">Select training session</label>-->

    </div>

</form>


<!--top chart-->
<div class="row">
    <div class="col-12">
        <img class="ajax-loader mt-5" src="{% static 'predictor/ajax-loader.gif' %}" />
        <div id="{{ids.0}}" class="chart"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        $(".ajax-loader").show();
        $(".chart").hide()
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            // xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xhr.setRequestHeader("X-CSRFToken", csrftoken);

        }
    }
});

$(document).on('change', '#session_select', function(){
        let training_session_id = $(this).children(":selected").attr("id");
        let start_date = $('#start_date').val();
        let end_date = $('#end_date').val();

        console.debug('got session id: ' + training_session_id)
        console.debug('start ' + start_date)
        console.debug('end ' + end_date)
        if (training_session_id == "") {
            console.error('Missing training session id.');
            return false;
        }
        $.ajax({
            url: "{% url 'predictor_forecast' %}",
            type: "POST",
            data: {
                "training_session_id": training_session_id,
                "start_date": start_date,
                "end_date": end_date
                //'csrfmiddlewaretoken':
            },
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            //contentType: "application/json",
            //contentType: "application/json;charset=utf-8",
            // headers: {'X-CSRFToken': getCookie('csrftoken')},
            dataType: "json",
            success: function(res_data) {
                //alert(data);
                //plots the figure with id
                //id must match the div id above in the html
                let figures = JSON.parse(res_data.figuresJSON);
                let ids = res_data.ids;
                $(".chart").show()

                for (let i in figures) {
                    console.log('Loop numb:' + i);
                    // console.debug(ids[i])
                    //$('#'+ids[i]).empty()
                    //console.debug($('#'+ids[i]))
                    Plotly.newPlot(ids[i], figures[i].data, figures[i].layout || {});
                    // Plotly.plot(ids[i],
                    //     figures[i].data,
                    //     figures[i].layout || {});
                }
                $(".ajax-loader").hide();
            },
            error: function(ts) {
                console.error(ts);
            }
        });
});
</script>

<script>
    $(document).ready(function(){
        let date_input=$('input.ui-datepicker');
        let container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        let options={
            format: 'yyyy/mm/dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>

{% endblock %}
