{% extends "predictor/base.html" %}

{% block subtag %} Crypto Charts {% endblock %}

{% block charts %}
<div class="card text-left mb-5" >
    <div class="card-header">
        About
    </div>
    <div class="card-body">
        <p class="card-text">This chart shows the price of BTC over time and the chart below shows the trading volume
            over the same period. The data is updated every 24 hours. This app explores the use of <a href="https://en.wikipedia.org/wiki/Long_short-term_memory">LSTMs</a>
            in predicting bitcoin price.
        </p>
    </div>
</div>
 <!--top chart-->
            <div class="row">
                <div class="col-12">
                    <div id="{{ids.0}}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="{{ids.1}}"></div>
                </div>
            </div>
{% endblock %}


